@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');

.btn {
    color: #fff !important;
}

.div_btn_criaParticipante {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.btn_criaParticipante {
    width: 160px;
}

body {
    background: #ffffff !important;
    font-family: 'Inria Sans', sans-serif;
}

.eEvento {
    margin: 15vh 5% 2rem 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;    
    flex-wrap: wrap
    
}

.inputs {
    display: flex;
    margin: 90px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 20px;
}

.inputadc {
    text-align: center;
    margin-bottom: 20px;
    max-width: 210px;
    height: 50px;
    border-radius: 7px;
    border: 0;
    outline: auto white;
    padding-inline: 15px;
    font-size: 16px;
}

.inputadc:focus {
    box-shadow: 0 0 50px rgb(255, 255, 255);
    border: 1px solid white;
}

/*label de imagem*/
.file-upload-form {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-upload-label input {
  display: none;
}
.file-upload-label svg {
  height: 20px;
  fill: rgb(82, 82, 82);
  margin: 10px;
}
.file-upload-label {
  width: 50%;
  cursor: pointer;
  background-color: #ddd;
  padding: 1px 8px;
  border-radius: 25px;
  border: 2px dashed rgb(82, 82, 82);
  box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
}
.file-upload-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.browse-button {
  background-color: white;
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
}
.browse-button:hover {
  background-color: rgb(14, 14, 14);
}



/*botão*/

.buttonPart {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: black;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.buttonPart:hover {
  background-color: black;
  box-shadow: 0 0 20px black;
  transform: scale(1.1);
}

.buttonPart:active {
  background-color: black;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

/* imagens */

.containerImg {
  width: 80%;
  margin: 30px auto;
  margin-top: 100px;
  overflow: hidden; 
}

.image-container2 {
  width: 44%; 
  float: left;
  margin-right: 6%;
}

.image-container2 img {
  width: 100%;
  height: auto;
  display: block;
}

.ifeEvento{
display: flex;
justify-content: center;

}